@reef-tech:registry=https://nexus-dev.reefplatform.com/repository/reef-tech/
//nexus-dev.reefplatform.com/repository/reef-tech/:username=ajunco
//nexus-dev.reefplatform.com/repository/reef-tech/:_password=eGw5OW9uMDEjMjA=#base64 password hash